/* CSS général  */

body {
    @import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fugaz One', cursive;
    color: #CA4B38;
}

.wrapper {
    max-width: 1700px;
    /* margin-top: 4vh; */
    margin-left: 4vw;
    margin-right: 4vw;
}

/* CSS Barre de navigation */

.navigation_bar {
    height: 100px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4vh;
    z-index: 999;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.logo {
    margin-top: 3%;
    height: 80%;
}

.navigation_menu {
    display: flex;
    align-items: center;
    list-style: none;
}


.navigation_link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navigation_link:hover {
    color: #00A5A5;
    transition: all 0.3s ease;
    transform: scale(1.075);
}

/* Responsive Barre de navigation  */

@media screen and (max-width: 960px) {

    .navigation {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navigation_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: -1;
    }
    
    .navigation_menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navigation__logo {
        padding-left: 25px;
    }

    .navigation_deroulante .bar{
        display: block;
        cursor: pointer;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .bar:nth-child(1) {
        background-color: #CA4B38;
    }

    .bar:nth-child(2) {
        background-color: #00A5A5;
    }

    .bar:nth-child(3) {
        background-color: #FEC800;
    }

    .navigation_tabs {
        width: 100%;
    }

    .navigation_link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #navigation_responsive {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }


    #navigation_responsive.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #navigation_responsive.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #navigation_responsive.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* CSS Formulaire ajout d'un étudiant */
input, select {
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    background-color: #F9F5F5;
    color: #8F8F8F;
    padding: 10px 20px 10px 20px;
}

label {
    font-weight: 700;
    margin-bottom: 0.5vh;
}
.form_input {
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    margin-top: 4vh;
    width: 100%;
}
/* option {
    color: #F9F5F5;
} */

/* CSS ListStudent */

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

th {
    font-family: 'Fugaz One', cursive; 
    font-weight: 500; 
}

a {
    text-decoration: none !important;
}

.heading_button {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    /* width: 30%; */
    justify-content: space-around;
    gap: 20px;
}

.button {
    border: none; 
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_red {
    background-color: #CA4B38; 
}
.button_red:hover,
.button_red:active,
.button_red.active {
    color: white;
    background-color: rgba(202, 75, 56, 0.8);
}

.button_green {
    background-color: #00A5A5; 
}

.button_green:hover,
.button_green:active,
.button_green.active {
    color: white;
    background-color: rgba(0, 165, 165, 0.8);
}

/* Responsive ListStudents  */

@media screen and (max-width: 700px) {
    .heading_list {
        width: 100%;
    }

    .heading_button {
        width: 100%;
    }
}